#canvas {
  display: inline-block;
  border: solid 2px rgb(36, 35, 35);
  cursor: default;
  vertical-align: top;
} 

.erase {
  width: 23px;
  height: 23px;
  float: left;
  margin: 6px;
} 

 .white {
  background: white;
  border: 1px solid gray;
  float: none;
  border-radius: 50%;
}

.liColor {
  background: green;
  border: 1px solid gray;
  float: none;
  border-radius: 50%;
}

#clear {
  background: rgb(128, 91, 230);
  color: rgb(5, 0, 0);
  padding: 10px;
  width: 100px;
  text-align: center;
  margin: 15px auto;
  cursor: pointer;
}
 
.container {
   white-space: normal;
   width: 710px;
}